@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Majestic cursive";
  /* src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('ttf'); */
  src: url("/fonts/MajesticPersonalUseRegular-ZVP3B.ttf");
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: auto;
} */
